.base-module {
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 1px 1px 8px rgba(black, 0.8);
    border-radius: 4px;
    margin-bottom: 20px;
    &.sticky {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .header {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .thumbnail {
            height: 100px;
            width: 100px;
        }
        .title {
            margin: 5px 20px;
        }
    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        &:last-of-type {
            margin: 20px 0;
        }
    }
}