.keypads .options {
    width: 490px;
    margin: 0 auto;
}

.keypads .options .option, .selections .option {
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
}