.passwords {
    .dial-grid {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 20px;
        .label {
            margin: 8px 0;
        }
        .cell {
            grid-column-end: span 1;
            width: 50px;
        }
        .row {
            grid-column: 1 / span 5;
        }
    }
}