.wires {
    .wire-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background: rgb(233, 230, 230);
        .wire {
            display: inline-block;
            margin: 6px 0;
            width: 35px;
            height: 5px;
        }
    }
    .module-state {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .section {
            flex: 1 1 0;
        }
        .wires-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}