.wire-sequences {
    .wire-table {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;
        .cell {
            grid-column-end: span 1;
            width: 85px;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 5px 4px;
            justify-self: center;
            align-self: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.header {
                font-weight: bold;
                width: 60px;
            }
            user-select: none;
            &.red {
                border-bottom: 3px solid red;
            }
            &.blue {
                border-bottom: 3px solid blue;
            }
            &.black {
                border-bottom: 3px solid black;
            }
        }
    }
}