.needy.knobs {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
    padding: 20px;
}

.needy.knobs .knobs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.needy.knobs .knobs div[class^=knob-] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.needy.knobs .knobs div[class^=knob-] > div {
    cursor: pointer;
    margin: 10px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.needy.knobs .knobs div[class^=knob-] > div.lit {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
}